.contact-me {
  text-align: center;
  width: 75%;
  margin: auto;
  margin-top: 10%;

  span {
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 300;
  }

  table {
    margin-top: 2rem;

    td,
    th {
      width: 50%;
      border: 3px solid #ccb7b7;
      text-align: center;
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  td a img {
    width: 25%;
  }
}

@media (max-width: 400px) {
  td a img {
    width: 50%;
  }
}
