.photo-gallery {
  display: flex;
  gap: 10px;

  .gallery-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .gallery-photo {
      border-radius: 5px;
    }
  }
}

@media (max-width: 992px) {
  .photo-gallery {
    flex-direction: column;
  }
}
